@media (-webkit-min-device-pixel-ratio: 1), (-o-min-device-pixel-ratio: 1/1), (min-resolution: 96dpi) {
  body header {
    background-image: url(../img/bg-big.png); } }

@media (min-width: 650px) {
  body header {
    height: 780px; }
    body header .container1 .welcome .slogan .slogan1 {
      font-size: 4.3em; }
    body header .container1 .welcome .slogan .slogan2 {
      font-size: 6em;
      width: 570px;
      margin-bottom: 100px; } }

@media (min-width: 960px) {
  body header {
    height: 1000px; }
    body header .container1 .nav {
      margin-bottom: 200px; }
      body header .container1 .nav .menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        body header .container1 .nav .menu li a:hover {
          border-bottom: 3px solid #fce38a; }
    body header .container1 .welcome .slogan .slogan1 {
      font-size: 6em; }
    body header .container1 .welcome .slogan .slogan2 {
      font-size: 9em;
      width: 870px;
      margin-bottom: 150px3; }
  body footer div {
    float: left; }
  body footer form {
    float: right; }
    body footer form input {
      width: 250px; }
    body footer form input[type="submit"] {
      width: 130px; } }
