@media (max-width: 768px) {

.menu {
    flex-direction: column;
    align-content: center;
    padding-top: 20px;
}

.nowrap1 {order: 2;}
.nowrap2 {order: 1;}
.nowrap3 {order: 3;} 

.nowrap1, .nowrap2, .nowrap3 {
    min-width: 60%;
}

.logo_item {
    width: 100px;
    justify-content: center;
}

.journey {
    font-size: 34pt;
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.wrapper {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: flex-start;
}

.top-flex {
    flex-direction: column;
    justify-content: flex-start;
}

.main-article {
    width: 100%;
}

.counterMarks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
        .counterMarks > h2  { width: 100%;}
        .counterMarks > div { width: 33%; }

.listBox > ul > li {
    font-size: 11px;
}

.testimonialWrapper {
    flex-basis: 180px;
    flex-shrink: 0;
}

}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media (max-width: 480px) { 
    
    .wrapper {
        padding-left: 38px;
        padding-right: 38px;
    }
        
    .bottom-flex, .article, .testimonialWrapper {
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: auto;
    }

    .menu_item {
        font-size: 16pt;
    }

    .sub_menu_item {
        font-size: 12pt;
    }

    .logo_item {
        width: 77px;
    }

        .journey {
        font-size: 25pt;
        width: 77px;
        height: 77px;
        line-height: 77px;
    }

    .big_pic {
        display: none;
    }
    
    .small_pic {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
        
    .counterMarks {
        flex-direction: column;
        flex-wrap: nowrap;
        flex-basis: auto;
    }
            .counterMarks > h2  { width: 100%;}
            .counterMarks > div { width: 90%; }

    /*  .listBox > ul { column-count: 1; }   */

    .listBox > ul > li {
        font-size: 11px;
    }

    .testimonialWrapper {
        padding-left: 0;  
    }  

    .testimonial {
        width: 267px;
    }

    .footerlink {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
    }

    .footerlink_el {
        flex-shrink: 1;
        margin: 10px;
    }

    .footerlink_el > a { 
        font-size: 11pt;
        line-height: 25px;
    }

    .contact {
        width: 150px;
    }

    .contact > p{
        width: 150px;
        margin-right: 100px;
        padding: 0;
        color: white;
	    font-size: 10pt;
        text-decoration: none; 
        line-height: 15px;
    }

    .social > p {
        width: 320px;
    }
}